@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
  overflow-x: hidden;
  margin: 0;
  padding: auto 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  overflow-x: hidden;


}
.App{
  padding: 50px;
}

* {
  box-sizing: border-box;
  

}


:root {
  --cl-balck: #000000;
  --shade-1: #FFFFFF;
  --shade-2: #70C174;
  --shade-3: #BEF3C0;
  --shade-4: #EFF7F2;
  --shade-5: #E5E5E5 ;
  --shade-6: #EBF0F9;
  --shade-7: #525560;
  --shade-8: #1D2130;
  --shade-9: #0B0706;
  --primary: #0384C6;
  --secondary: #14CC9E;
  --Gprimary: #EFF7F2;
  --rating: #FDCC0D;
  --danger:#F44336;
  --warning: #FBC02D;
  --success:#55B559;
  --info:#03A9F4;
  --gradient:linear-gradient(225deg, #192038 0%, #2E3A59 100%);


   

  /* ============  FONT SIZE  =============== */
  --size12: 12px;
  --size14: 14px;
  --size18: 18px;
  --size20: 20px;
  --size28: 28px;
  --size48: 48px;
  --size56: 56px;
  --size64: 64px;
  /* =============  ICONS width============== */
  --icon-w18: 18px;
  --icon-w14: 14px;
  --icon-w12: 12px;
  --icon-w20: 20px;
  --icon-w24: 24px;
  
  /* ============= MARGIN vs PADDING PX  ================ */
  --mp30: 30px;
  --mp15: 15px;
  --mp10: 10px;
  --mp5: 5px;

  /* ========== FONT FAMILY ============= */
  --family: "Montserrat", sans-serif;
  --familyR: "Roboto" , sans-serif;
  --familyQ: 'Quicksand', sans-serif;
  
  /* ============= DISPLAY ================== */
}

@media (min-width: 1440px) {
  :root {
  --size12: 14px;
  --size14: 16px;
  --size18: 20px;
  --size20: 22px;
  --size28: 30px;
  --size48: 50px;
  --size56: 56px;
  --size64: 64px;
  /* =============  ICONS width============== */
  --icon-w18: 20px;
  --icon-w14: 16px;
  --icon-w12: 14px;
  --icon-w20: 22px;
  --icon-w24: 26px;
  
  
  }
}

@media (max-width: 1200px) {
  :root {  
    --size12: 12px;
    --size14: 14px;
    --size18: 17px;
    --size20: 19px;
    --size28: 26px;
    --size48: 44px;
    --size56: 52px;
    --size64: 60px;
  }
}
@media (max-width: 992px) {
  :root {
    --size12: 12px;
    --size14: 13px;
    --size18: 16px;
    --size20: 17px;
    --size28: 25px;
    --size48: 45px;
    --size56: 50px;
    --size64: 58px;
    /* =============  ICONS width============== */
  --icon-w18: 17px;
  --icon-w14: 13px;
  --icon-w12: 11px;
  --icon-w20: 18px;
  --icon-w24: 22px;
  }
}
@media (max-width: 767px) {
  :root {
    --size12: 11px;
    --size14: 12px;
    --size18: 13px;
    --size20: 14px;
    --size28: 20px;
    --size48: 40px;
    --size56: 45px;
    --size64: 52px;
    /* =============  ICONS width============== */
  --icon-w18: 16px;
  --icon-w14: 12px;
  --icon-w12: 10px;
  --icon-w20: 17px;
  --icon-w24: 20px;
  }
}

@media (max-width: 576px) {
  :root {
    --size12: 10px;
    --size14: 11px;
    --size18: 12px;
    --size20: 13px;
    --size28: 18px;
    --size48: 35px;
    --size56: 40px;
    --size64: 45px;
    /* =============  ICONS width============== */
  --icon-w18: 14px;
  --icon-w14: 10px;
  --icon-w12: 9px;
  --icon-w20: 15px;
  --icon-w24: 18px;
  }
}